html { 
background-color: #11101E;
}

#mainlogo
{

  display: block;
  width: 20%;
  margin: 5% auto;
}

.container
{
height: 25vh ;
display: grid;
place-items: center;


}
.text
{
width: 50ch;
animation: text 2s steps(50), blink .5s step-end infinite alternate;
white-space: nowrap;
overflow: hidden;
border-right: 3px solid;
  font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
  color: lightgray;

}

@keyframes text{

    from{
        width: 0;
    }
}
@keyframes blink {
 50%{

    border-color: transparent;
 }


}

